@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css?family=Carter+One|Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Atma|Carter+One|Fredericka+the+Great");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atma', cursive;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f2f2f2d7;
}
.cont-2 h1,
.cont-2-1 h1 {
    font-family: 'Fredericka the Great', cursive;
    padding-top: 4%;
}
.cont-2 {
    /* background-color: red; */
    width: 80%;
    margin-top: 2%;
}
.cont-2-1 {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 8%;
}
#btn-2-id {
    width: 9%;
    margin: 0px 10%;
    position: relative;
}
hr {
    border: 1px solid red;
    width: 90%;
}
.btn-2 {
    color: red;
    font-size: 20px;
}
#btn-1 {
    color: #fff;
    margin-top: 16%;
    margin-bottom: 18%;
}
.rollDice1,
.globalScore1,
.rollDice2,
.globalScore2 {
    color: #fff;
}
ul li {
    padding-right: 30px;
}
.cont-2-3 {
    margin-bottom: 30px;
}
.cont-2-3-1 {
    margin-bottom: 15px;
}
#hide{
    display: none;
    margin-top: 6%;
    margin-bottom: 6%;
}
.rule-1 {
    color: #fff;
}
.rlr {
    color: white;
}
@media only screen and(max-width:450px) {
    #btn-2-id {
        width: 100%;
    }
}
