@import url("https://fonts.googleapis.com/css?family=Carter+One");
@import url("https://fonts.googleapis.com/css?family=Carter+One|Fredericka+the+Great");
@import url("https://fonts.googleapis.com/css?family=Atma|Carter+One|Fredericka+the+Great");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atma', cursive;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f2f2f2;
}
.cont-2 h1{
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 8%;
    padding-top: 6%;
}

.cont-2{
    background-color: #fff;
}
#btn-1{
    color: #fff;
}
.rollDice1,.globalScore1,.rollDice2,.globalScore2{color: #fff;}
ul li{
    padding-right: 30px;
}

@media only screen and(max-width:450px){
    #btn-2-id{
        width: 100%;
    }
}
/* @media screen and (max-width:1024px) {
    * {
        font-size: calc(1vw + 1vh + .5vmin);
    }
} */